$color-background-primary: rgb(255, 255, 255);
$color-background-secondary: rgb(249, 249, 249);
$color-text-primary: rgb(32, 32, 32);
$color-text-secondary: rgb(153, 153, 153);
$color-success-primary: rgb(99, 126, 96);
$color-success-secondary: rgba(99, 126, 96, 0.1);
$color-editing: rgb(192, 214, 209);
$color-error-primary: rgb(220, 76, 62);
$color-error-secondary: rgb(238, 115, 113);
$color-error-lightest: rgba(220, 76, 62, 0.1);
$color-border: rgb(230, 230, 230);
$color-theme-primary: rgb(33, 33, 33);
$color-theme-secondary: rgb(23, 23, 23);
